@font-face {
    font-family: inter-regular;
    src: url(../fonts/Inter-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: inter-regular;
    color: white;
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2e2e2e;
}

body > footer > p {
    margin: 12px 0;
    text-align: center;
}

.titulo {
    font-size: 20px;
}
.subtitulo {
    color: #b3b3b3;
    font-size: 15px;
}

/* Input */
.input-nota-group {
    display: flex;
}

.input-nota-group > button {
    flex: 1;
}
.input-nota-group > input {
    flex: 5;
}

input {
    height: 30px;
    width: 90px;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: white;
    transition: .2s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
    margin: 0px 8px;
}
input[type="number"]:focus {
    border-bottom: 1px solid #00A09F;
}

/* Layout */
.principal {
    margin-top: 50px;
    width: 100%;
    max-width: 260px;
    padding: 20px;
    border-radius: 7px;
    background-color: #1D1D1B;
    box-shadow: 0px 0px 20px #1b1b1b;
}

.avaliacoes {
    padding: 20px 0;
}

.avaliacao-card {
    padding: 12px;
    border-radius: 7px;
    background-color: #2A2A27;
}

.avaliacoes > .avaliacao-card:not(:first-child) {
    margin-top: 12px;
}

.avaliacao-card > p {
    text-align: left;
    margin-bottom: 8px;
}

small {
    opacity: .5;
}

.text-rigth {
    text-align: right;
}

.popup {
    max-width: 500px;
    padding: 20px;
    margin: auto;
    background-color: #14a0a0;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    box-shadow: 0 0px 30px #000000;
}

.popup h2 {
    margin-bottom: 16px;
}

.popup footer {
    margin-top: 20px;
}

/* Botões */
.btn-principal {
    padding: 8px 16px;
    border-radius: 7px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: #14a0a0;
    transition: .2s;
}

.btn-principal:hover {
    background-color: #19b6b6;
    box-shadow: 0 0 16px rgba(25, 182, 182, 0.2);
}

.btn-secundario {
    padding: 6px 12px;
    background-color: #3d3d39;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    transition: .2s;
}

.btn-secundario:hover {
    background-color: #4e4e4a;
}

.btn-discreto-escuro {
    padding: 8px 16px;
    border-radius: 7px;
    color: #646463;
    font-size: 15px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: .2s;
}

.btn-discreto-escuro:hover {
    background-color: rgba(100, 100, 99, 0.2);
}

.btn-discreto-claro {
    padding: 8px 16px;
    border-radius: 7px;
    color: #ffffff;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: .2s;
}

.btn-discreto-claro:hover {
    background-color: rgba(255, 255, 255, 0.2);
}